.home-bg{
	background: #2c3e50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #34495e , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #34495e , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
	font-size: xx-large;
	font-weight: 100;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
	color:#F7F7F7;
	margin: 0 auto;
}
.tagline{
	margin-top:5%;
	font-size:150%;
}
.title{
	transition: all 1s ease;
	font-size: 150%;
	font-weight: 300;
	border: medium solid;
	margin-top: 10%;
	padding-left: 20px;
	padding-right:20px;
	display: inline-block;
}
.title:hover{
	background-color:#3C546D;
}

.selection{
	margin-top: 5%;
}
.signin{
	transition: all 0.2s ease;
	margin-top:5%;
	font-size:40%;
	display:inline-block;
}
.signin:hover{
	color:#f1c40f;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.buttons {
  text-align: center;
}
.modal-text{
	color:#4B77BE;
	font-size:50%;	
}
.social-login{
	position: relative;
    float: right;
    width: 100%;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
	font-weight:400;
}
.social-login a{
  position:relative;
  float: left;
  width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}

.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}

.social-login a:first-child{
	transition: all 0.2s ease;
	background-color: #49639F;
}
.social-login a:first-child:hover{
  background-color:#365073;
}
.social-login a:last-child{
	transition: all 0.2s ease;
  background-color: #DF4A32;
}
.social-login a:last-child:hover{
  background-color:#C60003;
}
@media screen and (min-width:768px){
.home-bg{
	font-size:500%;
}
.
}
@media screen and (max-width: 372px)
{
.title {
    padding-left: 5px;
    padding-right: 5px;
}
.home-bg{
  font-size: 260%;
}
.signin{
  font-weight: 400;
}
.tagline, .selection{
  font-weight: 200;
}
}
@media screen and (max-height: 600px)
{
.title{
  margin-top: 2%;
}
.tagline, .selection, .signin{
  margin-top: 3%;
}
}